$units: (
  auto: "auto",
  full: 100%,
  "screen-w": 100vw,
  "screen-h": 100vh,
  0: 0rpx,
  px: 1rpx,
  2: 2rpx,
  4: 4rpx,
  6: 6rpx,
  8: 8rpx,
  10: 10rpx,
  12: 12rpx,
  14: 14rpx,
  16: 16rpx,
  18: 18rpx,
  20: 20rpx,
  24: 24rpx,
  28: 28rpx,
  32: 32rpx,
  36: 36rpx,
  40: 40rpx,
  44: 44rpx,
  48: 48rpx,
  50: 50rpx,
  56: 56rpx,
  60: 60rpx,
  64: 64rpx,
  70: 70rpx,
  80: 80rpx,
  90: 90rpx,
  100: 100rpx,
  120: 120rpx,
  150: 150rpx,
  180: 180rpx,
  200: 200rpx,
  250: 250rpx,
  300: 300rpx,
  350: 350rpx,
  400: 400rpx,
);

$nums: (
  100: 100,
  200: 200,
  300: 300,
  400: 400,
  500: 500,
  600: 600,
  700: 700,
  800: 800,
  900: 900,
);

$sizes: (
  xs: 12rpx,
  sm: 14rpx,
  base: 16rpx,
  lg: 24rpx,
  xl: 32rpx,
  2xl: 48rpx,
  3xl: 64rpx,
);

$rounds: (
  none: 0,
  sm: 25%,
  base: 50%,
  md: 75%,
  full: 100%,
);

$positions: (
  flex: "flex",
  "inline-flex": "inline-flex",
  block: "block",
  "inline-block": "inline-block",
  position: "position",
);

@each $key, $value in $units {
  /* padding */
  .p-#{$key} {
    padding: $value;
  }
  .pt-#{$key} {
    padding-top: $value;
  }
  .pb-#{$key} {
    padding-bottom: $value;
  }
  .pr-#{$key} {
    padding-right: $value;
  }
  .pl-#{$key} {
    padding-left: $value;
  }
  .px-#{$key} {
    padding-left: $value;
    padding-right: $value;
  }
  .py-#{$key} {
    padding-top: $value;
    padding-bottom: $value;
  }

  /* margin */
  .m-#{$key} {
    margin: $value;
  }
  .mt-#{$key} {
    margin-top: $value;
  }
  .mb-#{$key} {
    margin-bottom: $value;
  }
  .mr-#{$key} {
    margin-right: $value;
  }
  .ml-#{$key} {
    margin-left: $value;
  }
  .mx-#{$key} {
    margin-left: $value;
    margin-right: $value;
  }
  .my-#{$key} {
    margin-top: $value;
    margin-bottom: $value;
  }

  /* Size */
  .h-#{$key} {
    height: $value;
  }
  .w-#{$key} {
    width: $value;
  }
  .min-h-#{$key} {
    min-height: $value;
  }
  .max-h-#{$key} {
    max-height: $value;
  }
  .min-w-#{$key} {
    min-width: $value;
  }
  .max-w-#{$key} {
    max-width: $value;
  }
}

/* Position */
@each $key, $value in $positions {
  .#{$key} {
    position: $value;
  }
}

/* Round */
@each $key, $value in $rounds {
  .rounded-#{$key} {
    border-radius: $value;
  }
}

/* Text */
@each $key, $value in $sizes {
  .text-#{$key} {
    font-size: $value;
    line-height: $value;
  }
  .leading-#{$key} {
    line-height: $value;
  }
}
@each $key, $value in $nums {
  .font-#{($key / 100)} {
    font-weight: $value;
  }
  .opacity-#{($key / 100)} {
    opacity: $value / 1000;
  }
  .z-#{$key} {
    z-index: $value;
  }
}
.text-italic {
  font-style: italic;
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.overflow-ellipsis {
  text-overflow: ellipsis;
}
.overflow-clip {
  text-overflow: clip;
}

/* Flex */
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}
.flex-col {
  flex-direction: column;
}
.flex-row-end {
  justify-content: flex-end;
}
.flex-row-center {
  justify-content: center;
}
.flex-row-between {
  justify-content: space-between;
}
.flex-row-around {
  justify-content: space-around;
}
.flex-col-center {
  align-items: center;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.flex-item {
  flex: 1;
}
